@import "./partials/variables";
@import "./partials/buttons";

// ---------------------------------------------
//GLOBALS

.header{
    [class*="icon"] {
        font-size: toRem(34px);
    }
}

.container-sm{
    .negative-inline{
        margin-inline: toRem(-20px);
    }
}

footer.purchase-cart__footer{
    [class*="at-icon-cart"]::after{
        content: '2';
        font-size: $font-size-sm;
        font-family: sans-serif;
        position: relative;
        top: toRem(-17px);
        left: toRem(2px);
        color: $red-crimson;
        font-weight: $font-bold;
    }
}


// ---------------------------------------------
// HOME

.content-block-overlay {
    @extend .content-block;
    background-color: rgba($brand-2, 0.5);
    padding-right: 0;
}

p {
    line-height: 1.4 !important;
}

.banner-leaf {
    min-height: toRem(521px);
    background-position: toRem(-135px);
    align-items: start;
    line-height: 1;
    ul{
        line-height: 19px;
    }
    h3, button{
        margin-right: toRem(15px);
    }
}

.cards-slider{
    gap: toRem(27px);
    overflow: hidden;
}
.projects-card{
    min-width: toRem(285px);
    .card-banner-img{
        max-height: toRem(160px);
    }
}

.icon-tree-earth-img{
    max-width: toRem(152px);
}

// ---------------------------------------------
//PROJECT-LIST

.project-list{
    &__hdl{
        gap: toRem(100px);
    }
    &__cards{
        gap: toRem(20px);
        .projects-card{
            max-width: toRem(285px);
        }
    }
    &__drop-menu{
        max-width: toRem(174px);
    }
}

.card-banner{
    &-icons{
        gap: toRem(20px);
    }
}

.tab-hdl__icon{
    font-size: toRem(34px);
}

.drop-menu{
    &__btn{
        min-width: toRem(167px);
        @include btn-solid($gray-coal, $white, $white, $gray-cloud)
    }
}

// ---------------------------------------------
//PROJECT-SINGLE

.project-single__banner, .account__banner{
    .at-icon-logo{
        position: absolute;
        top: toRem(20px);
        left: toRem(20px);
        font-size: toRem(34px);
        z-index: 43;
    }
    &-card{
        max-width: toRem(369px);
        max-height: toRem(166px);
        position: absolute;
        left: 0;
        right: 0;
        bottom: toRem(-112px);
    }
}

.project-single__content{
    &-list{
        padding-top: toRem(140px);
    }
    &-desc{
        p{
        max-width: toRem(325px);
        line-height: toRem(19px);
        }
    }
    &-adopt{
        .adopt__carousel{
            gap: toRem(15px);
            overflow: hidden;
        }
        .adopt__img{
            min-width: toRem(155px);
            max-height: toRem(87px);
        }

        .adopt__input-group{
            max-width: toRem(178px);
        }
        .adopt-trees-label{
            position: absolute;
            right: toRem(15px);
            z-index: 1;
        }
        #adopt-trees-input, #adopt-trees-input::-webkit-inner-spin-button, #adopt-trees-input::-webkit-outer-spin-button{
            padding-left: toRem(15px);
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
        }
        .adopt-trees-btn{
            min-width: toRem(178px);
        }
    }
}

// ---------------------------------------------
//PURCHASE: CART

.carts {
    gap: toRem(20px);
}

.carts-item{
    &__img{
        object-fit: cover;
        max-width: toRem(90px);
        min-height: toRem(90px);
    }
    &__info{
        width: 100%;
    }
    &__form-group{
        gap: toRem(7px);
        label {
            //position: absolute;
            //right: 0;
            line-height: 1;
        }
        input, input::-webkit-inner-spin-button, input::-webkit-outer-spin-button  {
            max-width: toRem(66px);
            color: $gray-lead;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
        }
    }
}

// ---------------------------------------------
//PURCHASE: CART - CARD

.bank-card__icon{
    position: relative;
    top: toRem(-5px);
    font-size: toRem(32px);
}

// ---------------------------------------------
//ACCOUNT


// ---------------------------------------------
//ACCOUNT: BANNER

.account__banner{
    min-height: toRem(315px);
}

// ---------------------------------------------
//ACCOUNT: PROJECTS

.projects-list{
    gap: toRem(20px);
}

.project{
    &-btn{
        position: absolute;
        transform: translate(-50%, -50%);
        font-size: toRem(10px);
    }
    &__donation, &__trees{
    gap: toRem(5px);
    }
    &__trees [class*="at-icon-leaf"]{
        position: relative;
        right: toRem(-1px);
    }
}

// ---------------------------------------------
//ACCOUNT: PAYMENT

.payment-add{
    &__label{
    position: absolute;
    right: toRem(15px);
    z-index: 1;
    }
    &__input, &__input::-webkit-inner-spin-button, &__input::-webkit-outer-spin-button{
        padding: $btn-padding-v $btn-padding-h-sm;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
    .field {
        gap: toRem(15px);
    }
}

// ---------------------------------------------
//ACCOUNT: PROFILE

.profile-settings{
    &__photo label{
        //min-width: toRem(220px);
    }
    &__forms textarea{
        padding-right: toRem(50px);
        overflow: hidden;
        resize: none;
    }
}

